body {
    font-family: monospace;
    background: #282129;
    color: #D6F069;
}

#teamList {
	margin: 2% 0;
	text-align: center;
}

table {
	margin-top: 2%;
	text-align: left;
}

table tbody tr td:first-child {
	color: #008cba;
}

table th {
	color: #222;
}